button {
  border-radius: 5px;
}

button:hover {
  filter: brightness(85%);
}

body {
  background: url("../images/background4.jpg") no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  font-family: "Numans", sans-serif;
}
